@model List<AbroadAddressTr>

@{
    Layout = "_AdminLayout";
}

<div class="col-sm-12">
    <div class="page-title-box">
        <div class="float-end">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Metrica</a>
                </li><!--end nav-item-->
                <li class="breadcrumb-item">
                    <a href="#">Pages</a>
                </li><!--end nav-item-->
                <li class="breadcrumb-item active">Xarici Ünvanlar</li>
            </ol>
        </div>
        <h4 class="page-title">Türkiyə</h4>
    </div><!--end page-title-box-->
</div><!--end col-->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <a asp-route="add-abroad-address-tr" class="btn btn-success">Xarici ünvan əlavə et</a>
            </div><!--end card-header-->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped mb-0">
                        <thead>
                            <tr>
                                <th>Ölkə</th>
                                <th>Şəhər</th>
                                <th>Region</th>
                                <th>Adres</th>
                                <th>İş günləri</th>
                                <th>İş saatları</th>
                                <th>Postal Kod</th>
                                <th>Pasport Kod</th>
                                <th>Vergi nömrəsi</th>
                                <th>Mobil nömrə</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var addresses in Model)
                            {
                                <tr>
                                    <td>@addresses.Country</td>
                                    <td>@addresses.City</td>
                                    <td>@addresses.Region</td>
                                    <td>@addresses.Address</td>
                                    <td>@addresses.WorkingDays</td>
                                    <td>@addresses.WorkingHours</td>
                                    <td>@addresses.PostalCode</td>
                                    <td>@addresses.PassportCode</td>
                                    <td>@addresses.TaxNumber</td>
                                    <td>@addresses.PhoneNumber</td>
                                    <td class="text-end">
                                        <a asp-route="update-address-tr-list" asp-route-id="@addresses.Id"><i class="las la-pen text-secondary font-16"></i></a>
                                        <a asp-route="delete-office" asp-route-id="@addresses.Id"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table><!--end /table-->
                </div><!--end /tableresponsive-->
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!-- end col -->